[2019-10-13 19:55] ddorato opened #1 "Rest+"
Does this also support the Rest+ if I add the WiFi MAC?

[2019-10-14 15:05] dgreif commented on #1
Unfortunately the Rest+ is not currently supported by this homebridge plugin.  The original uses bluetooth, while the Rest+ uses wifi.  I don't own a Rest+ to test with so I won't be able to implement it.  I'm happy to take a PR if someone owns one and has the ability to implement it.

[2019-10-14 16:11] ddorato commented on #1
I have one but can also get one sent to you if interested.

On Oct 14, 2019, at 10:05 AM, Dusty Greif <notifications@github.com> wrote:

﻿

Unfortunately the Rest+ is not currently supported by this homebridge plugin. The original uses bluetooth, while the Rest+ uses wifi. I don't own a Rest+ to test with so I won't be able to implement it. I'm happy to take a PR if someone owns one and has the ab

[2019-11-24 08:28] meirmsn opened #2 "Unit no changing state, everything else seems ok"
@dgreif THANK YOU so much for making this homebridge plugin! I've been waiting since earlier this year for someone smarter than me to figure out how to do a plugin for the hatch baby rest

I was able to add the config, and it shows up in my home app. When I tap to turn on/off the button on the home app changes on/off, the logs on homebridge show like this:

[11/24/2019, 12:22:10 AM] [Hatch Baby Re

[2019-12-04 16:43] AC3LAB5 commented on #2
I initially had the same issue; seemed to be permissions related. I'm running on Raspberry Pi 4 w/ Raspbian. You should additionally see these messages when starting homebridge:
[03/12/2019, 20:44:43] [Kid's Night Light] Connecting...
[03/12/2019, 20:44:43] [Kid's Night Light] Connected
Try running with sudo homebridge and see if it works. If it works with sudo, I think the next step is to add you

[2019-12-12 23:36] ckeone opened #3 ""Waiting for bluetooth to power on""
Any suggestions as to how to fix the "Waiting for bluetooth to power on" I'm seeing when starting HomeBridge.  I see:

[Homebridge] [12/12/2019, 15:29:50] [Bedtime] Initializing HatchBabyRest accessory...
[Homebridge] [12/12/2019, 15:29:50] [Bedtime] Waiting for bluetooth to power on

 I'm running on supported hardware, config is done correctly and Bluetooth is running on my Pi, but I cannot seem

[2019-12-13 04:31] dgreif commented on #2
@meirmsn sorry for being slow to respond to your issue.  @AC3LAB5 thanks for the input!  I would definitely guess it's a permissions issue.  I ran into similar hurtles when I was building the plugin and unfortunately I didn't document what fixed it 🤦‍♂.  I think the instructions in https://www.raspberrypi.org/forums/viewtopic.php?t=108581 look like a good first thing to try (just make sure you loo

[2019-12-13 04:32] dgreif commented on #3
@ckeone I'm glad to see some interest in this plugin!  This is most likely a permissions issue that you are running into.  Check out https://github.com/dgreif/homebridge-hatch-baby-rest/issues/2#issuecomment-565296016 and let me know if that helps you progress

[2019-12-13 05:20] ckeone commented on #3
That was the first thing I tried, but sadly no luck.  I'm using HOOBS and it's seemingly having issues with all BLE accessories (can't find bluetooth-hci-socket) so I'll try on a fresh install tomorrow as there's some weird stuff going on with all BLE stuff.

[2019-12-13 14:53] dgreif commented on #3
Sounds good.  If you do find a set of commands that you need to run, could you please post them?  I would like to add some documentation to the Readme, but I don't have a clean rpi laying around

[2019-12-16 04:37] incubus1062 opened #4 "Scanning for device"
I have config.json setup and connects successfully:

[code]

but get:

[code]

appears to be running correctly on my MacBook Pro (Retina, Mid 2012) but the turn on/off doesn't do anything.

using iphone 11, latest iOS, with the original Hatch Baby Rest. I have two of them and would love to setup automation and control from homekit with your code.

Any thoughts?

[2019-12-16 23:42] dgreif commented on #4
Sorry you are running into issues!  This is most likely a permissions issue similar to #3 and #2.  Your config looks correct, but your macbook may not be granting permission to the plugin.  I will try set up the plugin on another macbook that I haven't already fixed permissions on and try to document the steps you need to take.

Are you seeing any of the following message?

1: `Waiting for bluetoo

[2019-12-18 01:12] incubus1062 commented on #4
Don't apologize! You got me this far! I think I'm falling into #3
I see:

[code]

So I'm NOT seeing the "Connecting..." and "Connected" part

[2019-12-18 22:50] dgreif commented on #4
@incubus1062 I did a little debugging on a second macbook and it turns out there is a fun issue on OSX specifically.  If you have never connected to a bluetooth device, the address shows up as `unknown`.  Once you connect once, it will remember the address for that device for future reference.  I added a fix in v`1.1.8` that should handle this for you automatically.  Since you have two lights, it'

[2019-12-18 22:53] dgreif commented on #2
@meirmsn can you try running the following command and then give it a try?

`sudo apt-get install bluetooth bluez libbluetooth-dev libudev-dev` (pulled from https://www.npmjs.com/package/@abandonware/noble#ubuntudebianraspbian)

[2019-12-18 22:53] dgreif commented on #3
@ckeone can you try running the following command and then give it a try?

`sudo apt-get install bluetooth bluez libbluetooth-dev libudev-dev` (pulled from https://www.npmjs.com/package/@abandonware/noble#ubuntudebianraspbian)

[2019-12-19 04:01] incubus1062 commented on #4
You're the man! Thank you, it worked! I see the on/off thing you mentioned, but clicking the button forces the connection. And it works with the 2 Hatch Baby Rests!

I'm a n00b, so here's an example of the config.json I used to get it working on my end for the two if anyone is interested.

[code]
Thanks again for all your help and the update. Very much appreciate it!

[2019-12-19 04:01] #4 closed

[2019-12-19 15:05] dgreif commented on #4
@incubus1062 glad it's working! The current setup wil connect when you click the button, and stay connected for ~5 seconds before it disconnects again.  I originally just left the connection open, but the bluetooth on Raspberry Pis is very weird compared to running on a mac. I'll keep messing around with it and see if I can come up with a good solution for both environments, but running it on a ma

[2019-12-31 03:29] ddorato commented on #1
@dgreif Ping me and lets see what I can do!

[2019-12-31 03:56] dgreif commented on #1
@ddorato  I’m glad you are still interested. Are you thinking about developing it yourself, or did you want to donate so that I can buy one and implement it?

[2019-12-31 03:57] ddorato commented on #1
@dgreif The dev skills aren't really there but I can donate.  Whats the best way to reach you?

[2019-12-31 04:07] dgreif commented on #1
I have a PayPal link in the Sponsor button on the repo. Looks like they are $90 currently on amazon. If you donate the full amount, I will get one ordered and implement it when I am able. Fair warning up front, there are no guarantees that I can reverse engineer their API (though I do have a fair amount of experience at it), and I can’t make any promises on a time line. Likely looking at some time

[2019-12-31 04:28] dgreif commented on #1
Order placed, thanks @ddorato!  I’ll keep you posted as I make progress on the implementation. Have a happy new year!

[2020-01-02 02:00] jbryan83 opened #5 "UnhandledPromiseRejectionWarning on Windows"
I am trying to get this working on Homebridge on a Windows 10 machine. I was able to add the device to Homekit, but when I turn it off an on from within Homekit, nothing actually happens. Looking at the Homebridge logs, I get the following error each time:

UnhandledPromiseRejectionWarning: Error: No compatible USB Bluetooth 4.0 device found!
at BluetoothHciSocket.bindUser
at BluetoothHciSocket.bi

[2020-01-02 14:21] dgreif commented on #5
Check out the windows setup instructions for the underlying bluetooth library I am using: https://github.com/abandonware/noble#windows

If those instructions don't solve it for you, I'm afraid there isn't much I can do.  Let me know how it turns out!

[2020-01-03 04:17] sedonapup opened #6 "Permission Denied"
Trying to install on a raspberry pi 3 using the command as provided
![image](https://user-images.githubusercontent.com/37234733/71706854-21f11680-2db5-11ea-9e1e-6fa395ed5e91.jpg)

As well as with root privilege
![image](https://user-images.githubusercontent.com/37234733/71707030-ab084d80-2db5-11ea-9ba0-ebb4f151025b.jpg)

Both attempts seem to have permission issues with /usr/lib/node_modules/. Any

[2020-01-03 18:29] dgreif commented on #6
This is an npm issue and not something directly related to this plugin.  While I would love to help, this is completely dependent on your computer and the best way to solve it is to just start googling for errors you are seeing there.  I wish you luck!

[2020-01-03 18:29] #6 closed

[2020-01-03 19:18] dgreif commented on #1
@ddorato I have updates!  First off, thank you very much for the light.  I had forgotten how many features they packed into the Rest +, but this thing is awesome!

I got a chance to poke around at the requests from the app and was able to figure out how they are interacting with these lights over wifi.  They are using the AWS IoT service, which is built on MQTT, to send and receive the state of th

[2020-01-03 23:21] ddorato commented on #1
@dgreif I would agree, exposing and on/off, brightness, volume would be essential.

The color picker would actually be good to have for my use case scenario.  Use an automation to have the light turn a color at a specific time (Ex: Time to get up).

I agree with the on/off controlling the first preset only and then via the exposed other elements we can use an automation to create any other scenari

[2020-01-06 20:55] #1 closed

[2020-01-06 21:01] dgreif commented on #1
@ddorato released in v`1.2.0`!  See the README for the new config setup (you will need to add a `platforms` entry).

At this point it will turn the light on/off (restoring the light to previous color/audio settings from the last time it was on).  You can adjust the brightness from the Home app, and 3rd party HomeKit apps can control volume.  I did not end up using preset 1 at all because it made s

[2020-01-06 23:16] ddorato commented on #1
We have success!

I think the logic to return to the previous state made the most sense for a v 1.0 rollout.

Right now I am still going to rely on the Hatch schedule for the color changing at a specific time - but when a color picker gets introduced that would be the ideal (and dream) automation so I can have HK dictate the timer for single app control and tied into other HK device triggers.

But

[2020-01-21 04:14] schmittx opened #7 "Python API?"
Great work on the Homebridge plugin, I'd love to get this into Home Assistant as well. Have you considered making a Python API for the Rest/Rest+? I could help with the Home Assistant integration side of it.

[2020-01-21 18:04] dgreif commented on #7
I'm much more comfortable with node than I am with python.  I'm happy to answer questions if you decide to port this to python yourself.  Also check out https://github.com/Marcus-L/m4rcus.HatchBaby.Rest if you want a C# reference (that's where I got a lot of my initial info for the original Rest)

[2020-01-21 18:04] #7 closed

[2020-01-21 20:19] schmittx commented on #7
Sounds good, I'll look into it and let you know if I have questions.

[2020-02-18 05:35] HammerAce42 commented on #1
So glad to see that Rest+ support has been added - thanks for working on this, @dgreif!

The lack of a color picker/any way to control color unfortunately makes this not very useful, since I wanted to setup an automation for changing color based on the state of other sensors/accessories (and hence can't use the schedule feature in the Hatch app that @ddorato suggested as a work around).

[2020-02-27 02:51] #5 closed

[2020-02-27 02:52] #3 closed

[2020-02-27 15:55] dgreif commented on #1
@ddorato @HammerAce42 I just release v`1.3.0` with color picker support for the HBR+ 😁.  Converting from RGB to HSB was the tricky part, but I finally got some time to figured out last night.  The colors that you select in HomeKit will be converted and may not match _perfectly_ to the end color on the light, but they are really really close.  Play around with it and let me know what you think 😄

[2020-02-29 22:14] dgreif commented on #1
If you guys gave `1.3.0` a try and didn't see any color picker show up, it's because HomeKit was using the cached light and not allowing Hue/Saturation to be added.  Removing the cached light is really tricky, so I just deployed `1.3.1` which adds a `removeAll` option that will clear out all of your Rest+ lights from the platform.  This will also remove any automations you have, so make note of th

[2020-03-01 09:09] HammerAce42 commented on #1
@dgreif, thanks for landing the color picker! It seemed to work for me with 1.3.0 and while I did upgrade to 1.3.1 a short while ago, I didn't go through the steps you outlined since they only seem necessary if the color picker doesn't show up.

[2020-03-05 09:16] HammerAce42 opened #8 "Rest+ stops changing state base on homekit commands"
I have found that I am often getting into a state where the Rest+ stops responding to any commands from homekit (on/off, brightness, color change).

Looking at the logs, I see the following error when this occurs:
[code]

It appears that the only way to clear the issue when it occurs is to restart homebridge.

[2020-03-05 14:20] dgreif commented on #8
@HammerAce42 I wonder if there is a lifespan on the auth tokens that I'm not accounting for yet.  I restart my homebridge instance every couple days due to updates for other plugins, so I haven't run into this issue yet.  Do you have a rough estimate on how long it takes for it to happen?

[2020-03-05 17:08] HammerAce42 commented on #8
It was certainly less than 48 hours since I last restarted homebridge to the point this issue occurred. However, I did have to reboot my router/disrupt internet connectivity a few times in between which may have caused the Rest+ to get a new auth token. Perhaps a new auth token should be requested as an automatic step anytime an error like the one I posted above occurs?

[2020-03-06 18:15] HammerAce42 commented on #8
The issue repeated when I intentionally took down my internet to test this, so it's almost certainly caused by a disruption in connectivity.

[2020-03-07 22:14] dgreif commented on #8
@HammerAce42 thanks for all of the info!  I think I have enough to go off of for working on a fix, but no promises on when I will be able to get it released

[2020-03-08 18:47] wildd86 opened #9 "Ongoing issue"
I believe I've done everything correctly, but I keep getting the following error on repeat when I launch homebridge: "Failed to reach Hatch Baby server at https://data.hatchbaby.com/public/v1/login.  Trying again in 5 seconds..."

I can't tell if this is an error on their side or mine.

[2020-03-14 17:24] HammerAce42 commented on #8
@dgreif, I am having this issue regularly despite my internet/wifi being consistently online (as far as I can tell). My theory around it being due to connectivity resets is probably incorrect. Just wanted to let you know in case that affects the fix that you come up with.

Thanks!

[2020-04-06 00:53] eliransapir opened #12 "Stop Noble from loading/being required if a Rest device is not configured"
I only have a Rest+, with homebridge running with bare minimum components the system i have it on does not have bluetooth and i get these errors related to loading noble.

`ERROR LOADING PLUGIN homebridge-hatch-baby-rest:
[4/5/2020, 8:49:27 PM] Error: EAFNOSUPPORT, Address family not supported by protocol
    at new Hci (/homebridge/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware

[2020-04-06 20:50] HammerAce42 opened #13 "Error loading plugin"
I updated to v2.0 of the plugin earlier and started seeing this error. I uninstalled and reinstalled (in the interim I think you rolled back the version to 1.3.1?) and the error still persists. Here is what I am seeing in the log file.

[code]

[2020-04-07 12:00] #12 closed

[2020-04-07 12:01] dgreif commented on #12
@eliransapir I didn't realize noble had side-effects just by requiring it.  I've got the code change done and will deploy it tonight.  Great suggestion!

[2020-04-08 04:17] tpitale commented on #12
I just hit this problem, too. Thanks @dgreif!

[2020-04-08 13:12] dgreif commented on #13
Do you have a Rest+?  If so, try version `2.0.1`

[2020-04-08 13:13] dgreif commented on #12
Released in v`2.0.1`

[2020-04-09 05:33] eliransapir commented on #12
@dgreif thank you! very much appreciated.

[2020-04-09 16:02] HammerAce42 commented on #13
That fixed it. Thanks!

[2020-04-09 16:02] #13 closed

[2020-04-09 16:03] HammerAce42 commented on #8
Were there any changes in v2 that might have helped with this? I haven't seen the issue arise since I got 2.0.1 working yesterday, and am hoping that's not a coincidence :)

[2020-04-09 18:03] dgreif commented on #9
@wildd86 sorry I didn't get back to you sooner.  That message looks like you were having general network issues, which prevented the plugin from reaching the hatch baby servers.  Can you give it another try?

[2020-04-09 18:04] dgreif commented on #8
I did update all dependencies in v2, which includes the library used to maintain that connection.  It's possible that they fixed something in that library.  Keep me posted!

[2020-04-13 21:07] HammerAce42 commented on #8
Unfortunately the issue is still present. I am seeing the same error as included in the earlier logs.

[2020-04-30 13:52] 2StephenWood opened #19 "More HatchBaby API Details?"
Hi @dgreif ,

First off, sorry, I know this is not the right place for this question, but I could not find another way to contact you. Second, great work on this project! I don't actually use homebridge, but I love working on Amazon IOT platform and home automation.

I am actually wondering if you have any additional details on the HatchBaby API. I'd like to write some code to pull my baby's stats

[2020-05-03 02:26] jbryan83 opened #20 "AWS Iot Error"
I have a wifi Rest+ and able to get this working when first installed, but after about a couple days, it stops working. I have to remove the plugin and re-add it for it to work again. Looking at the logs, I get the following error:

[5/2/2020, 9:21:23 PM] [HatchBabyRest] AWS Iot Error
[5/2/2020, 9:21:23 PM] [HatchBabyRest] Error: unexpected server response (403)
    at ClientRequest.<anonymous> (/

[2020-05-03 14:19] dgreif commented on #20
@jbryan83 sorry to hear you are having issues.  This is actually a duplicate of #8, which is definitely a real issue, but i haven't had time to address it.  Hopefully I can get to it in the next few weeks.

[2020-05-03 14:19] #20 closed

[2020-05-11 20:24] SpaceCadetUWG opened #21 "Cannot add the platforms entry in HOOBs"
I love the idea of being able to control my rest+ on Homekit but I have deployed HOOBs and everytime I try and go into the advanced configuration in HOOBs and add the platforms entry is fails epically. I get the error

"Unable to save.
Please fix the following errors.

Invalid JSON."

Can you provide some guidance on where I should be adding this in Hoobs or what I have missed here?

[2020-05-11 20:36] dgreif commented on #21
You most likely didn't enter the json config properly.  You should be adding something like this to the `platforms` section:

[code]

If you already have other plugins under `platforms`, make sure you add a comma before the closing bracket of the previous plugin, like this:

[code]

[2020-05-11 20:54] dgreif commented on #19
@2StephenWood thanks for reaching out, and sorry I didn't get a chance to reply sooner.  For this project, I did a lot of "observation" on how the hatch baby rest app interacts with their API to determine how the API works.  As far as I know, they do not have any official documentation to look at unfortunately.  My original work for the bluetooth hatch baby rest was based on the work from this blo

[2020-05-11 21:35] #9 closed

[2020-05-12 22:29] dgreif commented on #21
any luck @SpaceCadetUWG?

[2020-05-13 04:38] SpaceCadetUWG commented on #21
You were totally right it was the missing comma in the logic. Thank you for helping!

[2020-05-13 04:38] #21 closed

[2020-05-14 20:00] 2StephenWood commented on #19
@dgreif , thanks for the reply! No worries at all on the delay :). I think I will reach out to Hatchbaby and see what they come back with. I've seen a few other posts that also make me think they'd be pretty open to working with developers. Your offer of an external interface for Rest+ api is very generous! I'm actually an embedded C programmer by day and Python tinkerer by night and weekend, leav

[2020-05-14 20:00] #19 closed

[2020-05-15 18:21] HammerAce42 opened #22 "Lack of prebuilt binaries appears to slow down updates/installs of other plugins"
Whenever I update other plugins, I now see this message, and it takes a fair amount of time to complete. I am not well versed with npm, so I am unclear why an unrelated plugin update is causing new binaries to be built for dependencies of this plugin. Any ideas how to avoid this from happening? I am using [Docker homebridge](https://github.com/oznu/docker-homebridge), in case that's relevant. Here

[2020-05-25 13:00] lukehoersten commented on #2
I’m experiencing the same issue. Attempted all the fixes mentioned above with no success. Any way to collect more debug info?

[2020-05-26 21:42] HammerAce42 commented on #8
Friendly nudge on this! :)

[2020-05-26 21:44] dgreif commented on #8
@HammerAce42 sorry for the neglect, I've been spending all my time on `homebridge-ring` and haven't had a chance to look into it.  Are you still having issues? (Assuming the answer is yes lol).  I haven't seen this at all, but I think my homebridge resets at lease once every 24 hours because of another plugin that I'm using that has uncaught errors.

[2020-05-26 21:50] HammerAce42 commented on #8
No worries - thanks for your efforts on the ring plugin - I benefit from that as well :)

This issue still occurs regularly for me - I haven't figured out exactly what the expiration time period is. I end up having to manually restart Homebridge whenever I see it.

[2020-05-26 22:38] dgreif commented on #8
Sounds good, thanks for the info.  I think I can detect when it errors, just gonna take some refactoring to get it to reconnect.  Will get to it once Ring stabilizes 😄

[2020-06-02 23:21] dgreif commented on #8
@HammerAce42 Just released v`2.0.3` which adds logic to open a new MQTT client with aws if the login credentials expire.  Give it a try for a few days and let me know how it goes!

[2020-06-02 23:29] dgreif commented on #22
@HammerAce42 what version of npm do you have installed? `npm -v`  I think later versions of npm do a better job of not rebuilding binaries when they haven't been updated.

[2020-06-02 23:52] HammerAce42 commented on #8
@dgreif Thanks - have updated and will post here if I see the issue again in the next few days.

[2020-06-02 23:54] HammerAce42 commented on #22
I am on npm v6.14.4. Strangely I stopped seeing the issue in the last few days, despite not having updated npm, so not sure what changed.

[2020-06-03 03:48] dgreif commented on #22
Ok, sounds good.  I'll close this for now, but let me know if you start seeing this issue again

[2020-06-03 03:48] #22 closed

[2020-06-04 19:14] kenwdelong opened #23 "Infinite Loops"
I work for Hatch, and I wanted to report some bugs that apparently are coming from your plugin.

You have one user that is stuck in an endless loop issuing requests to /public/v1/login every 5 seconds. Their client has issued almost 500,000 requests in the last 10 days! Interestingly, the logins are successful, not failure.  I cannot see in the code where this error might be coming from, but I don

[2020-06-04 19:56] dgreif commented on #23
@kenwdelong thanks for reaching out!  The current code will hit the `/public/v1/login` endpoint when it receives a `401` response from any endpoint, or if homebridge is restarted.  See https://github.com/dgreif/homebridge-hatch-baby-rest/blob/master/src/rest-client.ts#L93-L96.  Can you see if they are hitting `service/app/restPlus/token/v1/fetch` or `service/app/restPlus/v1/fetch` in their loop?

[2020-06-05 20:38] kenwdelong commented on #23
Looks like it's only `/public/v1/login`. We have reached out to him and asked him to reboot his device!

We don't really have any API docs that are suitable for external consumption.  Feel free to ping me if you need any clarifications, however.

[2020-06-05 20:38] #23 closed

[2020-06-05 20:42] dgreif commented on #23
I double checked the code and if it is _only_ `/public/v1/login`, then the user very well could be in a loop of some sort.  If the request to log in fails due to network issues, it automatically tries again in 5 seconds.  Sounds like the exact scenario you are seeing.  I'll work on an update over the weekend that should be a bit more reliable.  Please have the user reach out on this GitHub issue i

[2020-06-05 22:32] dgreif commented on #23
@kenwdelong I released v`2.0.4` which uses a different http client and logs a little more information when it gets into that 5 second retry loop.  If the user is still having issues, you could have them update to that version and check their logs.  I'm happy to help out any way that I can.

[2020-06-07 20:07] HammerAce42 commented on #8
This issue hasn't reoccurred since I updated to the release with the fix. Closing it out.

Thanks again for getting this sorted!

[2020-06-07 20:07] #8 closed

[2020-06-07 22:54] dgreif commented on #2
Ok, I finally got some time to circle back to this issue.  I'm seeing it as well on my rpi3, and it comes down to bluetooth not being "poweredOn" as far as the plugin can tell.  In my case, it was a permissions issue as described in https://github.com/abandonware/noble/issues/82.  The solution was to run the command here: https://github.com/abandonware/noble#running-without-rootsudo-linux-specific

[2020-06-07 23:36] lukehoersten commented on #2
@dgreif that worked. Thanks!

[2020-07-01 14:28] et commented on #7
@schmittx - did you ever get a chance to make the home assistant version? If not, I’m interested in taking in on but didn’t want to reinvent the wheel if you already have something. Got two months before due date so time is fleeting 😜

[2020-07-03 02:59] schmittx commented on #7
@et Unfortunately, no, I never did dive into it. I got sidetracked working on some other Home Assistant custom components. That being said though, I'm still super interested in this and I'll still be glad to help with the Home Assistant integration side of it.

[2020-07-03 03:26] #2 closed

[2020-08-08 23:50] FlipABit opened #25 "Error at startup: EAFNOSUPPORT, Address family not supported by protocol"
I installed `v2.0.4`, configured it through Homebridge UI and after Homebridge restarted it won't boot back up because of the error below:

[code]

[2020-08-09 17:05] dgreif commented on #25
What device are you running homebridge on? Does it have Bluetooth LE support?

[2020-08-10 05:46] FlipABit commented on #25
I think the confusion came from the install setup via the Homebridge web UI. As soon as the plugin is installed, Homebridge pops up the configuration UI for the plugin, except the configuration looks like it's for the Rest (not Rest+ w/wifi), but that's not obvious. So the MAC address was for the Rest+. Removing that config and adding the username/pass config manually fixed it. That being said, it

[2020-08-22 15:51] Bmkenny opened #26 "Plug in not working"
Hi,

I installed the plug in for my hatch baby rest, and it successfully loaded into my apple home app, but it doesn't actually turn the nightlight on. This is for my bluetooth night light, and I also have a wifi rest+ and when I try to paste the code in terminal I receive the below error. Can someone please give me some guidance? Thanks!

bash: platforms:: command not found
bash: platform:: comma

[2020-08-24 04:43] Bmkenny commented on #26
Got it, thanks! So I tried copy and pasting the code that you specify in your instructions in the platforms section, and even made sure to separate it from the above plug in with a "," and I keep getting a json code error "invalid json." I'm not sure where to go from here with the wifi rest+. In regards to the bluetooth rest I tried to turn it on and off again and the logs for these actions are be

[2020-08-29 18:27] Bmkenny commented on #26
Hi, just checking back in to see if you have any suggestions or ideas as to how I can get both of these rest machines to work. Thanks.

[2020-09-05 22:30] zcampau commented on #7
@schmittx @et I'm looking for a home assistant integration for the Hatch Rest as well, if anyone ended up figuring it out.

[2020-09-08 10:37] schmittx commented on #7
@zcampau Same here...

[2020-09-09 18:39] et commented on #7
Baby came sooner than expected so I never had a chance 😁

[2020-09-12 14:54] dgreif commented on #26
@Bmkenny I'm sorry for the long delay! I hope you got past your issues, but if not, here are a few things to try:

For the Bluetooth Rest, you may need to run `sudo setcap cap_net_raw+eip $(eval readlink -f `which node`)`.  This gives NodeJS the ability to use bluetooth without elevated permissions.  Once you run that, restart your homebridge server and see if you are able to control that light.

[2020-09-12 15:32] Bmkenny commented on #26
@dgreif thanks for the reply. I just tried running that command and got the below error message. Not sure what I'm doing wrong. Also, not sure why the line breaks at "readlink" and starts again at the beginning of the same line instead of going to the below line. Also, I was able to get an acceptable config.json in the config file, but the wifi rest + is still not showing up in my accessories. Any

[2020-09-12 15:39] dgreif commented on #26
Sorry, formatting got weird on that and I didn't notice:

[code]

For the rest+, is there anything in your logs?  It should say something like `[HatchBabyRest] Configuring 1 Hatch Baby Rest+ light`

[2020-09-12 15:49] Bmkenny commented on #26
no problem. Thanks for the correction. I ran that command and nothing seemed to happen, but now it seems that the bluetooth light is operational in the home app.

The logs show three things that I can see:

9/12/2020, 8:21:41 AM [***** Room] Waiting for bluetooth to power on

9/12/2020, 8:21:41 AM Load homebridge-hatch-baby-rest.HatchBabyRest
9/12/2020, 8:21:41 AM [homebridge-hatch-baby-rest.Hatch

[2020-09-12 16:23] dgreif commented on #26
The line that says `Turned off` is promising.  I think it only logs that if it got connected to the light.  I'd try turning it on/off a couple more times and watch the logs.

The `No configuration found for platform HatchBabyRest` log indicates that your config isn't correct still.  Would you mind posting your config and I can point out what needs to be fixed?

[2020-09-12 16:59] Bmkenny commented on #26
Yup, for the bluetooth light all seems to be working now.

For the rest + however, I figured out the issue, but now my Ring accessory doesn't function. I copied and pasted the validated config.json from the code beauty site you provided and it gave me the first section below, but when I paste that into the config.json file in hoobs and save changes it gives me the second pasted section below. Plea

[2020-09-12 17:00] Bmkenny commented on #26
It's also worth noting that when I replace the platform name in the second section with "HatchBabyRest" the rest + shows up in the home app and operates correctly, but the Ring accessory stops functioning.

[2020-09-12 17:16] dgreif commented on #26
I think you are trying to put both platforms in a single platform config object.  It should look more like this:

[code]

[2020-09-13 15:14] dgreif commented on #26
@Bmkenny did that help you get it straightened out?

[2020-09-15 18:54] Bmkenny commented on #26
Yes, it seems to have resolved the issues. Although, it's curious since the
first time I tried doing the exact same thing I received errors for json
syntax being incorrect. Neither here nor there now though. Thanks for the
help.

On Sun, Sep 13, 2020 at 8:14 AM Dusty Greif <notifications@github.com>
wrote:

[2020-09-15 19:04] #26 closed

[2020-10-13 20:01] schmittx opened #28 "Incorrect Status for Multiple Rest+"
1) Both Rest+ lights off
2) Using HomeKit, turn on Light A
3) Light A turns on and shows correct status in HomeKit
4) Light B does not physically change but HomeKit now shows same status as Light A

Initially glance seems that "setTargetState" works fine but there's some bug with "getCurrentState" or "getTargetState" and multiple Rest+ devices.

I'm guessing that there's not many of us with multip

[2020-10-18 17:10] dgreif commented on #28
@schmittx I actually happen to have two Rest+ so I can take a look at this.  I haven't noticed the behavior that you described, but I also have the lights heavily automated and I don't often look at their state in the Home app.  I've been pretty swamped with the Ring plugin lately, but I'll take a look at this when I get some free time.

[2020-10-18 18:25] schmittx commented on #28
@dgreif sounds good!

[2020-10-19 17:29] mikemcbride commented on #26
Just came here having the same problem (I have 3 of the bluetooth Hatch devices) and this was super helpful! For me, the missing stuff was those bluetooth packages and granting Node access to it. Thanks a bunch for this, it's really useful

[2020-10-20 20:23] michaeltorbert opened #29 "failed install"
I tried both through the config UI X and just doing it in the command line but get the same result. Is there some sort of dependency that's failing? Let me know if there's anything I can do on my end, or if you need any of the actual log.

<img width="800" alt="Screen Shot 2020-10-20 at 4 15 06 PM" src="https://user-images.githubusercontent.com/17364998/96639972-7dfb3c00-12f0-11eb-8cbb-61c97ead813

[2020-10-20 22:00] dgreif commented on #29
@michaeltorbert it's failing to build the bluetooth dependencies needed for the original Hatch Rest nightlight.  Are you using a Rest or Rest+ (wifi) night light?  Could you also provide the following:

Operating System:
Node Version:
Npm Version:

[2020-10-20 23:15] michaeltorbert commented on #29
@dgreif I'm using this https://smile.amazon.com/gp/product/B06XMRCC94

Operating System: MacOS 10.15.4
Node Version: 14.13.0
Npm Version: 6.14.8

[2020-10-23 16:51] sdflyguy opened #30 "Scanning for Device"
Thank you for creating this plugin!

I'm having an issue connecting to the Hatch itself. I'm running homebridge on a RP4. I have the first Hatch with only bluetooth. I will get the following commands on startup..

[10/23/2020, 11:41:15] [*** Hatch] Initializing HatchBabyRest accessory...
[10/23/2020, 11:41:15] [*** Hatch] Waiting for bluetooth to power on
[10/23/2020, 11:41:17] [*** Hatch] Scannin

[2020-10-23 17:16] dgreif commented on #30
Since you can't give permissions using the setcap command, node can't access bluetooth properly.  It looks like that command can fail depending on which user you run it as, so make sure you run it as a user that has elevated permissions.  Until you run that command successfully, the plugin likely won't work for you.  Sorry I can't give more detailed instructions, this is entirely dependent on your

[2020-10-23 17:23] dgreif commented on #29
@michaeltorbert see https://medium.com/flawless-app-stories/gyp-no-xcode-or-clt-version-detected-macos-catalina-anansewaa-38b536389e8d

[2020-10-23 17:55] ddorato commented on #29
@dgreif Should I follow the same guide for the Rest+ (WiFi)

[2020-10-23 17:58] dgreif commented on #29
@ddorato if you are seeing the same error (`gyp: No XCode or CLT version detected!`), then yes.  Based on previous interactions, I assumed you already had the plugin up and running

[2020-10-23 18:07] ddorato commented on #29
#1 Fantastic memory... #2 New Machine.. SMH... Stupid simple solution, thx!

[2020-10-26 21:56] kriskoeller commented on #29
I'm also having a failed install on a Raspberry Pi as per the screen shot. Updated NodeJS and NPM. Attempting to connect to a Hatch Baby Rest +.
<img width="1276" alt="Screen Shot 2020-10-26 at 5 54 59 PM" src="https://user-images.githubusercontent.com/16693530/97232930-75a17600-17b4-11eb-9fd2-6eb93cea4332.png">

[2020-11-05 05:46] craldaz opened #32 "Hatch Restore Support or extension?"
Is it possible to extend this plugin to work with the hatch restore?

[2020-11-05 05:52] dgreif commented on #32
It's definitely possible, but I don't own one so I can't test with it to see how it works. I honestly have been wondering if it would just work like the rest plus, and this is the first request I have had that suggests otherwise. If you are a developer, I'd be happy to take a pull request.

[2020-11-08 03:08] craldaz commented on #32
I am definitely not a developer maybe you could say very amateur DIYer, in any case I have the Hatch Rest and Homebridge configured with the raspberry pi and homekit

In homekit it is saying "No Response"

It also caused my homekit and raspberry pi to become completely unresponsive and I had to reinstall my image, not sure if this is related.

But if you have any recommendations I'd be willing to

[2020-11-12 18:13] michaeltorbert commented on #29
So does this mean I need xcode installed on the Mac Mini for it to run this plugin?

[2020-11-14 03:52] dgreif commented on #32
@craldaz could you provide any additional info on what you see when you set up the plugin with your Restore light?  does the Restore show up in HomeKit but not respond, or do you only see your Rest? Does the Rest light still work? If the Restore is breaking the plugin when included, I'd definitely like to at least prevent that from happening.

[2020-11-14 05:43] dgreif commented on #32
@craldaz I just released v`2.1.0` which should prevent the Restore light from showing up and breaking homebridge. When you start the plugin, you may see a log that says something like `Unsupported Light Found: ....`.  If you could post the contents of that line here, that may be helpful in adding actual support for the Restore.  I will probably need more info after that, but it's a start.

[2020-11-14 05:55] dgreif commented on #28
@schmittx give it a try in the latest version. There was definitely a bug but it was a clear and easy fix.

[2020-11-16 12:09] wholesomezine opened #34 "Stops at scanning for device...Bluetooth permissions"
Stops at scanning for device... pretty sure it’s a permissions issue like others have had but previous solutions aren’t helping I am running on a Mac mini...

[2020-11-19 23:01] dgreif commented on #29
Closing since @michaeltorbert got his figured out.  @kriskoeller feel free to open a new issue if you are still having problems

[2020-11-19 23:03] dgreif commented on #34
@wholesomezine try installing xcode if you don't have it installed already.  Here are the requirements for macos:

* OS X 10.7 or greater
 * with a BLE adapter built in or a compatible USB Bluetooth 4.0 adapter
* Xcode

[2020-11-19 23:03] #29 closed

[2020-11-19 23:03] #30 closed

[2020-11-19 23:03] #28 closed

[2020-11-20 16:43] wholesomezine commented on #34
Turns out It’s just a range issue moving the rest closer made it work. Unfortunately my wife wants it to stay where it is and I can’t  move the Mac. Thanks so much for replying!

[2020-11-20 16:46] dgreif commented on #34
Ahh, makes sense.  I had that issue with mine as well.  Ended up getting the Rest+, which is wifi and way more reliable.  Good luck!

[2020-11-20 16:46] #34 closed

[2020-12-06 20:06] yoshi43 commented on #7
I would love to see this as well!

[2020-12-21 22:31] sbarstow93 opened #37 "Trouble with Homebridge Install"
Hi!

Im really excited about this plug in! I have a rest and a rest+ that will be so nice to have in homekit. I keep getting an error though when I go to install that I would love some help with.. Below is what happens in terminal

Do I need to have code on the mac for this to work?

sethbarstow@GC-Audio ~ % npm i -g homebridge-hatch-baby-rest-volume

No receipt for 'com.apple.pkg.CLTools_Executab

[2020-12-24 15:57] Jud opened #38 "Using as a sleep/wake light"
We use our Rest lights in a sleep/wake configuration where the light is red + sound during the night, and green w/ no sound in the morning when it is time to wake.

I've attempted to set this up via configuring the light as two accessories but I'm not sure the plugin is handling this well. In the logs, when I attempt to turn on the 'wake' accessory for instance, I see entries for connecting to bot

[2020-12-27 14:18] dgreif commented on #25
Closing due to inactivity

[2020-12-27 14:18] #25 closed

[2020-12-27 14:24] dgreif commented on #37
Looks like you are trying to install `homebridge-hatch-baby-rest-volume`, which is actually a different plugin that is forked from this one.  You should run `npm i -g homebridge-hatch-baby-rest` instead.  With that aside, you appear to be installing on a mac, which requires xcode cli tools.  See this article for some steps you can take to get those installed properly: https://medium.com/flawless-a

[2020-12-27 14:30] dgreif commented on #38
You are correct that sleep/wake isn't really supported at the moment.  The hard part is that HomeKit doesn't expose a good control for things like selecting from a list of sounds.  I could expose the volume via a speaker, but you would have to use a third-party HomeKit app to control it because the standard Home app doesn't allow you to interact with speakers.  Is your wake schedule completely bas

[2020-12-28 16:24] Jud commented on #38
For my case, I _think_ the ability to setup two configurations for the same device mac address would be sufficient. Our nightly sleep/wake is automated with a simple schedule, but the nap schedule shifts around enough that we're usually just fumbling with the app to get both boys up at the same time. Ideally, I'd be able to create a shortcut for "Siri, wake up the boys" and it turns both wake acce

[2021-01-01 14:37] dgreif commented on #38
You _should_ be able to add 2 accessories with the sam mac.  The issue is that the bluetooth can be a bit touchy, especially if you are on a raspberry pi.  I'd try that approach again and if it doesn't work, then may use programmed timers (in the hatch sleep app) for the sleep routine and homebridge for the wake routine.

[2021-01-04 01:42] niemyjski commented on #7
Any luck?

[2021-01-05 04:31] arvathrowaway opened #40 "Better as a RGB light?"
Completely ignorant is how to actually code it, but couldn't this device just act like a always-on LED strip (or at least the BR Rest, which we have one of). The power on could set it to a certain state, you could push hue variables, brightness variables, and the sound on and off could simply be controlled by a separate switch or "light" for on/off and volume?

[2021-01-05 13:36] arvathrowaway commented on #30
Just wanted to follow up on this. I’m running into the same issue from a default setup on an RPi from the Homebridge Rabian OS image. So, it’s not necessarily dependent on how the user is setting it up but it’s the default behavior when installing as a certain suggested way by Homebridge. The pi user apparently doesn’t have sudo capabilities OOTB.

[2021-01-06 03:18] ORIONSS88 commented on #37
dgreif,

I am also having trouble installing this. Any feedback would be great. Looks like its saying I am having permission issues.

hoobs@hoobs:/home/hoobs/.hoobs/etc $ npm i -g homebridge-hatch-baby-rest
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules
npm ERR! code EACCES
npm ERR! syscall access
npm ERR! path /usr/local/lib/node_modules
npm ERR! errno -13
npm ERR!

[2021-01-07 13:54] arvathrowaway commented on #38
Commenting to confirm that is indeed the case on a RPi Zero W. Multiple devices seem to be connecting and command seem to be getting sent but nothing happens on the device. Simple took it down to one device, and it works fine.

[2021-01-08 20:16] timwitty commented on #38
Can you clarify why this would be a bluetooth issue and not a plugin or homebridge issue? I can confirm having only one accessory works. So, something is definitely wrong with multiple accessories to a single device. I just think its odd the potential root cause being discussed is bluetooth.

If I'm hitting the on/off for a single accessory to set a particular configuration on the Rest, I would ex

[2021-01-09 08:50] zcopter opened #41 "Can connect but cannot control"
Hi, I'd like to see if I can get a bit of assistance. I have 2 original Hatch Rest lights and have gone through the setup procedure. I have added 1 of the units into the config with the mac I have set it up with 50% audio default light color and stream as the "audio track". When I go to turn the accessory on I can see it status that the device is recognized then it connects and after approx. 1-3 s

[2021-01-09 08:51] zcopter commented on #41
From the config:

"accessories": [
        {
            "name": "Bishop's Room",
            "macAddress": "",
            "volume": 50,
            "audioTrack": 2,
            "color": {
                "r": 254,
                "g": 254,
                "b": 254,
                "a": 128
            },
            "showAsSwitch": true,
            "accessory": "HatchBabyRest"

[2021-01-10 00:30] arvathrowaway commented on #41
There's no MAC address.

[2021-01-10 00:30] arvathrowaway commented on #41
What are you running Homebridge on?

[2021-01-10 06:38] zcopter commented on #41
Windows 10

[2021-01-10 15:37] arvathrowaway commented on #41
Is your local machine close enough to the device to make a good BT connection?

[2021-01-10 16:39] zcopter commented on #41
Yea I'm only 10 Ft away. I can access from my phone around 30.

[2021-01-10 16:49] arvathrowaway commented on #41
Does the W10 machine have BT LE capability? Any debug logs you can post?

[2021-01-10 16:56] zcopter commented on #41
Yea it's a brand new bt USB adapter. I have installed the libusb driver for it too. I'm not sure where I would find the debug logs?

From the HB log above it appears everything is functioning. I have tried removing the bt adapter and it throws an error then when I reconnect it the error goes away. So I assume it is working.

Is there supposed to be some sort of authentication or is really as simpl

[2021-01-10 17:13] arvathrowaway commented on #41
I experienced the same issue on an RPi. The issue was the last bit of the range on installing all the necessary libraries. It looked like it connected but never did anything. Is this the only accessory you have for the rest platform/plugin? It did the same thing to me when I tried to add more than one under the same MAC too

[2021-01-10 17:59] dgreif commented on #41
It does look like it's connecting, but the command isn't making it to the device. It may be that once it connects, it's not about to read the services available from the light. Most users run homebridge on an rpi or Mac, so I haven't had to deal with many Windows issues. Looking at the docs for noble (BLE library used by this plugin), there is a link to this video: https://www.youtube.com/watch?v=

[2021-01-11 05:42] dgreif commented on #40
@arvathrowaway completely valid idea.  The Rest+ is set up as an RGB light, but I didn't have all the color conversion code in place when I did the original Rest.  I think it should be relatively easy to add this functionality.  Not sure when I'll be able to get to it, but I'll keep it on my TODO list.

[2021-01-11 05:44] dgreif commented on #37
@ORIONSS88 you need to run `sudo npm i -g homebridge-hatch-baby-rest`.  Lack of `sudo` is why you are seeing that error.  I highly recommend using `homebridge-config-ui-x` which helps mitigate this type of install issues

[2021-01-11 18:34] zcopter commented on #41
Hi I have been successful. I tried the install of noble. But, no luck... I think it had already been installed when I installed windows build tools. However I found out the Mac should be written out in lower case without colons. I had written it exactly as in the app. I can now turn on one of the lights. But if I add a 2nd one I can't connect to either. If I remove it I can still control the origi

[2021-01-11 19:40] dgreif commented on #41
@zcopter glad you got it working, at least partially!  I just double checked the code and it explicitly ignores upper vs lower case on the mac id, so that probably wasn't the issue.  I've heard other reports of issues when connecting to multiple bluetooth rest lights so there very well could be a bug there.  When I originally wrote the code, I was testing it with 2 lights, but I only have 1 on han

[2021-01-11 19:49] zcopter commented on #41
Thanks. Regarding case do you think it could have been the colons? That's the other thing I changed. I'm still sitting where I was before while testing but it is odd sometimes it works from that distance and sometimes not... what is the distance for a pi (roughly) any idea?

Should it read status after a reboot? IE light on restart homebridge plugin shows light as off.

When trying to connect to b

[2021-01-11 19:59] arvathrowaway commented on #41
I thought you had said it was on a W10 machine?

I have it on a RPi Zero W and experience the same range issues as you sometimes. The issue was nearby devices (namely a Google Home mini and my phone). I unplugged the GHM and operated it from down the hall and the range issues disappeared and it operated without fail every time.

I also have two lights and it's not been an issue from what I can gat

[2021-01-11 20:02] dgreif commented on #41
It should work with `:`, `-` or no separator.  `A-B-C-D` will be interpreted the same as `a:b:c:d`.

Distance-wise, my rpi 3B+ reaches around 25 feet, roughly.  I had a light at ~40 feet and it was hit or miss with similar symptoms to what you are seeing.

The plugin does _not_ read on startup.  My assumption there was you will mainly be automating the light for things like ready-to-wake.  Althoug

[2021-01-11 20:16] zcopter commented on #41
@arvathrowaway You're correct it is w10. Just thinking if I would be better off with a pi. So you are saying you don't have an issue with one HB connecting to 2 lights if they are with range?

@dgreif Ok thanks. Not sure then what fixed it. Reason I was asking if it checks status is if it is on and homebridge is rebooted I have to select power on before I can power off. Or if it starts from a time

[2021-01-11 20:24] dgreif commented on #41
You should be able to turn it off with automations or scenes without it being on.  Only if you go in and hit the manual toggle does it need to turn on first and then off.

[2021-01-11 20:52] zcopter commented on #41
Ok thanks I'll try that tomorrow

[2021-01-12 09:32] zcopter commented on #41
Log from testing with 1 hatch:
[1/12/2021, 10:20:29 AM] Loaded plugin: homebridge-config-ui-x@4.36.0
[1/12/2021, 10:20:29 AM] Registering platform 'homebridge-config-ui-x.config'
[1/12/2021, 10:20:29 AM] ---
[1/12/2021, 10:20:30 AM] Loaded plugin: homebridge-hatch-baby-rest@2.1.0
[1/12/2021, 10:20:30 AM] Registering accessory 'homebridge-hatch-baby-rest.HatchBabyRest'
[1/12/2021, 10:20:30 AM] Regi

[2021-01-17 14:42] dgreif commented on #41
Currently the code doesn't do anything to coordinate bluetooth connections between multiple lights.  If you try to control two at the same time, it will immediately try to connect to and control both of them.  My guess is that some bluetooth controllers may not support connecting to multiple devices at the same time, which would cause issues with the current setup.  It's something I can probably r

[2021-01-17 23:05] arvathrowaway commented on #41
I have two lights set up on the same config and it works fine, for what it’s worth.

[2021-01-18 13:08] zcopter commented on #41
@dgreif Thanks for looking into it. I have went ahead and setup on a raspberry PI and most the time it is functioning quite well. I'v noticed the pi range isn't as great as the dongle. But, I can control both with the PI. I have done quite a bit of reading on the libusb drivers used for bluetooth via homebridge. My understanding is the dongle I am using should have the ability to communicate to mu

[2021-01-20 02:34] schmittx commented on #7
@dgreif I've started a Python port of this but am new to AWS IoT world. I believe I need to connect to the AWS MQTT broker using the creds returned from the `cognito-identity` call, correct? Then it becomes a normal MQTT publish/subscribe thing? Any idea if I can connect to AWS MQTT using a GUI app to view the topics/messages for troubleshooting?

[2021-01-20 03:38] schmittx opened #42 "Set accessory info serial number to MAC address"
As a stop gap until a Python version can be made, I want to use Homebridge --> HomeAssistant (via HomeKit Controller component). But, HomeAssistant cannot handle accessories without a serial number/unique identifier specified (currently set to `Unknown`). See this [issue](https://github.com/chrisjshull/homebridge-nest/issues/301) for same concern with another Homebridge plugin.

Can the MAC addres

[2021-01-27 04:51] dgreif commented on #7
@schmittx I don't know of any GUI for AWS MQTT, but I didn't really search for one when I did the initial discovery for this plugin.  Once you are connected with the client, it's pretty easy to log all the events coming at you, and you can look through my code to see any communication going up to the MQTT server

[2021-01-29 04:54] #37 closed

[2021-01-29 05:49] #42 closed

[2021-01-29 05:51] dgreif commented on #42
Great idea @schmittx.  Mac address is now used as the serial number in `2.2.1`

[2021-01-29 05:53] dgreif commented on #41
@zcopter I'm glad you got it working with your rpi.  It sounds like this is more of a driver issue than a plugin issue so I think I'll close this one out.

[2021-01-29 05:53] #41 closed

[2021-02-06 15:16] dgreif commented on #40
This is done in v3 of the plugin.  See https://github.com/dgreif/homebridge-hatch-baby-rest/wiki/Upgrading-from-v2-to-v3 for details about the changes

[2021-02-06 15:16] #40 closed

[2021-02-06 15:19] dgreif commented on #38
@Jud v3.0.0 of the plugin will give you access to control color and sound from the Home app.  See https://github.com/dgreif/homebridge-hatch-baby-rest/wiki/Upgrading-from-v2-to-v3 for details about the recent changes.  This should eliminate the need for two separate lights in your config.  When you update, the duplicate lights will automatically be removed from your config.

[2021-02-06 17:44] arvathrowaway commented on #40
This is awesome. Thanks!

[2021-02-06 17:45] dgreif commented on #40
Glad to hear it, let me know how the update works for you

[2021-02-06 17:47] arvathrowaway commented on #40
Just tested it out. My setup is two lights, old BT hatches. Both transition over perfectly config-wise and both are working flawlessly!

[2021-02-08 18:06] ajf102 commented on #32
I’m going to tinker with this plugin since I have a restore. What information would be useful for you to get it working?

[2021-02-08 20:43] Jud commented on #38
Thanks @dgreif!

[2021-02-08 23:13] dgreif commented on #38
@Jud if the update is working well for your needs, feel free to close this issue.

[2021-02-09 01:26] craldaz commented on #32
I can test it too if anyone gets something going

On Mon, Feb 8, 2021, 12:13 PM WinterC15 <notifications@github.com> wrote:

[2021-02-09 05:11] dgreif commented on #32
Hey everyone, I appreciate the enthusiasm! I am receiving the new Rest Mini on Wednesday and will see how it compares to the Rest. That should hopefully give me an idea of how hatch is doing things on different lights, which may give me insight into how they did the restore. In the end, though, it may be easiest to have someone share their login so that I can interact with the restore directly and

[2021-02-09 16:26] idsnowghost opened #43 "Rest (BTLE) stops responding to commands"
Just upgraded to v3 yesterday. I have a Hatch Rest that I had successfully working on v2.

I've set up a Scene to: set the color, track and switch to "on". It will work one time after starting up homebridge then won't connect again.

Seems like it's trying to connect to the device multiple times initially, then just ignores all commands after that:

Feb 09 08:17:00 homebridge homebridge[1656]: [2/

[2021-02-09 16:39] dgreif commented on #43
That's really interesting, definitely could be a bug in the connection logic.  The double "Connecting" shouldn't happen on the first try, it should only show one connecting.  I'll take a look at it when I get some time.  For now, if you generally keep a consistent color/sound, you can set up your automation to only use the on/off switch and the light should remember its previous color/sound settin

[2021-02-09 17:13] idsnowghost commented on #43
Ditched the Scene for now.. still having issues.

It seems the "On/Off" switch won't actually toggle the Rest off. After toggling to the off position, you can manipulate the light brightness slider and it will adjust brightness and finally quickly turn the Rest off.

[2021-02-09 17:15] dgreif commented on #43
Can you post the logs from that scenario?

[2021-02-09 17:18] idsnowghost commented on #43
Turning on (works fine):
Feb 09 09:16:00 homebridge homebridge[2676]: [2/9/2021, 9:16:00 AM] [HatchBabyRest] Turning on James Night Light
Feb 09 09:16:00 homebridge homebridge[2676]: [2/9/2021, 9:16:00 AM] [HatchBabyRest] Connecting to Hatch Rest...
Feb 09 09:16:01 homebridge homebridge[2676]: [2/9/2021, 9:16:01 AM] [HatchBabyRest] Connected to Hatch Rest
Feb 09 09:16:07 homebridge homebridge[2676

[2021-02-13 17:15] timwitty opened #44 "homebridge/Home do not reflect manual device adjustments"
I've updated to 3.0 to get the ability to use as a wake light.

I did have one question though. Is it expected that the Home app or homebridge will sync its config with the actual state of the device at any point? I've configured the device with the plugin, then turned it to a favorite via the ring as I put my child in the crib but Home/homebridge still shows what I had set it to prior. I'm not su

[2021-02-15 11:13] HammerAce42 commented on #22
I am seeing this issue again:

Node.js Version | v14.15.5
NPM Version | v6.14.11

prebuild-install info begin Prebuild-install version 5.3.6
prebuild-install info looking for cached prebuild @ /root/.npm/_prebuilds/f7818c-usb-v1.6.4-node-v83-linuxmusl-arm.tar.gz
prebuild-install http request GET https://github.com/tessel/node-usb/releases/download/v1.6.4/usb-v1.6.4-node-v83-linuxmusl-arm.tar.gz
pr

[2021-02-17 21:53] schmittx opened #45 "HomeKit state when light color set to "None""
Regarding the Lightbulb service representing the light function on a Hatch Rest+:

If I set the color to "none" within the Hatch app, the HomeKit status is displayed as white (RGB = 255, 255, 255) color and retains previous brightness value even though the light on the physical Rest+ is turned off.

Can this be fixed to show the lightbulb as "off" when the "none" color option is selected within th

[2021-02-18 05:21] #38 closed

[2021-02-18 05:22] dgreif commented on #45
Thanks for reporting, I'll try to take a look at this in the next few days

[2021-02-19 04:14] mkinsella commented on #45
Thank you @dgreif! This would be the cherry-on-top of the latest v3 release as it's the only thing that is stopping me from fully using the Homebridge/HomeKit integration.

[2021-02-21 03:36] MattW2 opened #46 "Integration into Home Assistant"
Hi, just wondering if you had looked into integrating this into Home Assistant? I'm most interested in integrating your Rest bluetooth library and integrating it into ESPHome such that an ESP32 could be used as the interface between the Rest and Home Assistant.

I first found about your project on the Home Assistant Forum, [Hatch Baby Rest+, Home Assistant Forum](https://community.home-assistant.i

[2021-02-24 00:28] dwwkelly opened #47 "Missing Bluetooth Device Crashes Homebridge"
I didn't realize that I disabled bluetooth on my RPi and when I went to run this plugin it crashed Homebridge:

`[2/23/2021, 7:15:01 PM] [HatchBabyRest] Waiting for bluetooth to power on
(node:15389) UnhandledPromiseRejectionWarning: Error: ENODEV, No such device
    at Hci.init (/usr/local/lib/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware/noble/lib/hci-socket/hci.js:114:35)

[2021-03-06 16:17] #45 closed

[2021-03-20 03:42] WinterC15 commented on #32
Any update on the Restore compatibility? Thanks for all of your work in this plugin!

[2021-03-20 04:23] dgreif commented on #32
No updates yet.  Out of curiosity, what are the main things you would like to control on the Restore? I don't own one, but it Sunrise Alarm and a large library of sounds/stories.  Do you mainly want to control the light/color, or sounds and other features too?

[2021-03-20 07:11] WinterC15 commented on #32
Thanks for the reply. For my everyday use, I have deleted/disabled all of the stations except for the sleep station. I would primarily just like to be able to turn the Restore on and  off with my respective good night and good morning scenes within HomeKit. I would use it in an identical manner as the Hatch Rests. I hope that helps as I know the Restore has a much larger library of tracks and ligh

[2021-03-23 22:42] mikelinden1 commented on #43
I have the same issue. It actually caused my hatch to freeze completely and the hatch all couldn't even connect. It looks like it's trying to connect multiple times and the hatch can't take all of the connection requests.

[2021-03-25 04:12] dgreif commented on #43
Yeah, once it fails to connect a single time, future attempts will fail. It's something I need to look into but haven't had the time. Sorry for the frustration!

[2021-04-10 20:45] #32 closed

[2021-04-10 20:48] dgreif commented on #32
Alright, I finally broke down and bought a Restore because I wanted to make the plugin feature complete 😅.  Just released v`3.2.0` with Restore support.  Here's an excerpt from the Readme explaining some limitations:

Hopefully this switch approach gives you the functionality you need without being crazy complicated in implementation.  Let me know how it works for you all!

[2021-04-10 21:13] dgreif commented on #46
@MattW2 sorry for the extremely delayed response.  In the forum you linked, it sounds like someone was able to get it working by exposed the hatch plugin as a child bridge and adding that to HA.  It's not an area that I aim to explicitly support, so this isn't something I plan to work on.  Happy to accept PRs if there is something that needs to be changed to make it work better.

[2021-04-10 21:13] #46 closed

[2021-05-17 04:53] dgreif commented on #44
With the bluetooth lights, state is only synced while the device is connected.  The plugin will only connect for a short period of time when you make changes on the HomeKit side because if you are connected from homebridge, then you cannot connect from the Hatch app.   The plugin _could_ periodically connect, but you wouldn't know if HomeKit was always up to date or not.  I'm not sure there is a g

[2021-05-17 04:53] #44 closed

[2021-05-29 05:00] Bmkenny opened #51 "Bluetooth rest won't add to homekit"
Hi,

I've followed the instructions and updated to the newest version of the plugin and my bluetooth rest won't add to homekit. My wifi rest works fine. Can someone please help?

Thanks!

[2021-05-30 11:01] dgreif commented on #51
The Bluetooth Rest won't be detected automatically. You need to go into your config and at it based on MAC address

[2021-05-31 16:21] Bmkenny commented on #51
I know. I have added it there but it’s still not being added and I don’t get any json errors when saving the config. Am I supposed to add it directly to the json file or through the plug in? Any ideas would be greatly appreciated.

Thanks!

[2021-06-15 15:14] olimeca opened #52 "Error After Adding Hatch Rest"
After configuring Hatch Rest with Name and MAC Address the following error is shown after Homebridge restart.

[6/15/2021, 11:11:43 AM] [HatchBabyRest] Error connecting to API
[6/15/2021, 11:11:43 AM] [HatchBabyRest] Error: EAFNOSUPPORT, Address family not supported by protocol
    at new Hci (/homebridge/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware/noble/lib/hci-socket/hci.js

[2021-06-15 15:22] olimeca commented on #52
System does not support Bluetooth LE which probably explains it. Closing issue.

[2021-06-15 15:22] #52 closed

[2021-07-08 02:24] downquark commented on #43
We're here because we were seeing the same issue with the hatch official app and now with this plugin:

Same "work-around" works for us too. What we'd really like is the okay to wake program to again, so that's what we'll be looking into.

[2021-07-11 23:32] nm2124 opened #53 "Simple Switch Control"
Hi there,

Thank you for your work on this plugin, I've been finding it very useful. I was just wondering if it would be possible to just expose a simple On/Off switch for each of my Hatch Sound Machines connected. They are already configured, I just want to be able to turn them on and off in HomeKit and to not see any of the other settings.

Thank you!

[2021-07-27 22:43] simplytoast1 opened #54 "Hide Accessory"
I have two Hatch devices, is it possible to hide one of them?

[2021-07-28 03:56] dgreif commented on #54
If they are bluetooth, you can simply remove them from the config.  If they are WiFi, then no.  I haven't added any "hide" options to this plugin and don't really plan to at this point.  You can always stick them in a different room on the HomeKit side and remove them from favorites if you don't want to see one of them.

[2021-08-04 00:30] jleesnow commented on #43
@dgreif Any update on this? I'm seeing the same issue on first install of this plugin

[2021-08-04 04:49] dgreif commented on #43
No updates yet, sorry.  Free time has been pretty limited

[2021-08-08 18:25] Pelagious commented on #43
I can confirm the same issue as above. It mainly seems to occur when I try to use a scene that controls the switch, the light and the fan at the same time.

The best work around I have found has been to just use scenes that adjust the switch only. Light and fan settings are remembered. As long as you don't need to play with brightness and audio track you should be fine.

[2021-08-11 21:14] steveredden opened #57 "Replace 3-FAN accessory with 36-TV_STREAMING_STICK"
Not sure how it's done in [homebridge-adb](https://github.com/dwaan/homebridge-adb/blob/master/index.js#L101), but it's able to define "inputs" and execute specific commands based them.

![image](https://user-images.githubusercontent.com/35814432/129104288-370710ec-49a7-4375-b4b2-df35b1d6e4db.png)

Can you, for the 11+off sound tracks, implement this kind of device, instead of a fan?

[2021-08-13 17:53] dgreif commented on #53
There is a "master" switch within each of the components.  You can use this switch for automations if you don't want to set all of the other settings every time.  I'd prefer not to add an extra setting to slim down to _just_ that switch as it just makes the code more complicated to maintain, sorry!

[2021-08-13 17:53] #53 closed

[2021-08-13 17:55] dgreif commented on #51
You can add it via `homebridge-config-ui-x`, which has a nice UI to make sure you have everything structured properly

[2021-08-15 15:22] #54 closed

[2021-08-15 15:23] dgreif commented on #47
Good to know.  I don't think this is worth adding a fix for at the moment because you need to know bluetooth failed if you turn it off

[2021-08-15 15:23] #47 closed

[2021-08-15 15:26] dgreif commented on #57
I looked into it some and we would have to convert the sound portion to a `Television` service.  This might give the added benefit of controlling volume and selecting track by name, but it would be a breaking change to the plugin and I'm not sure using a television is any more correct than using a fan.  Given how few audio channels there are, I think the current solution works well.  This is somet

[2021-08-15 15:26] #57 closed

[2021-08-15 15:29] dgreif commented on #51
@Bmkenny any luck?

[2021-08-23 02:04] steveredden opened #58 "config option to only include the BaseAcessory (master on/off switch)"
Can you add a checkbox for not deploying the additional accessories?  I've only found use of the master switch so far.

`config.schema.json`
[code]

![image](https://user-images.githubusercontent.com/35814432/130380150-c97026d2-d654-480f-bcfb-dcf3c9ae0a12.png)

was planning a PR but wasn't sure where to implement in `platform.ts` - maybe lines 105:115?

Or maybe you could help me customize out the

[2021-08-24 14:12] simplytoast1 opened #59 "Not responding while Online"
Since the latest update - my hatch devices (Rest+ & Restore) are ignoring (or not recieving) HB commands.  A simple reboot of the Hb instance restores functionality.

Both devices have a static IP and for some reason in a rollback of a previous version of the plugin seems to maintain stability although 3.2.3 only updated dependancies.

[2021-08-25 03:30] dgreif commented on #59
Can you try updating to the latest version again to verify that the latest version in fact caused it to break for you?

[2021-08-25 03:46] dgreif commented on #58
This is a duplicate of #53.  I don't see much value in adding extra configuration just to remove accessories in this case.

[2021-08-25 03:46] #58 closed

[2021-08-25 11:57] steveredden commented on #58
How about at least polling for the master’s state and turn off the light/fan/volume? It’s “odd” to see these constantly “on.”

that’s the main reason I find them annoying.

Or just implement the twice-asked request :P

[2021-08-30 03:32] simplytoast1 commented on #59
I ran Homebridge in Debug mode and after about 24 hours of uptime my Hatch+ and Hatch restore no longer respond to HB commands.

I looked at the debug logs but it seems nothing useful is in there.

[8/29/2021, 10:28:05 PM] [homebridge-hatch-baby-rest] Turning off Restore
[8/29/2021, 10:28:07 PM] [homebridge-hatch-baby-rest] Turning on first betime step for Restore

(My testing)

After a reboot of

[2021-08-30 23:14] FlipABit commented on #59
I'm having the same issue. The logs seem to indicate the plugin is sending commands and there is no sign of errors, but the hatch doesn't not respond to the commands. Rebooting home bridge restores functionality for some amount of time, but then will stop responding again.

[2021-08-31 10:12] goobags commented on #59
I am also having issues. Only new to homebridge and this is my first plug in. It worked initially then stopped responding after a few days. Since seeing the above comments I have restarted homebridge and the Rest+ is responding to commands and receiving manual state changes. I will monitor over the next few days to see if it loses connection again.

[2021-09-12 21:09] jbaldo opened #61 "Rest Plus Update Statements"
Hey, thanks for making this awesome library. I don't have Homekit stuff, but I'm trying to use your `HatchBabyApi` as a client for the API to do some automation. I'm hoping to implement a gradual volume fade over a certain period of time. Just being able to turn it on / off would be nice too.

I've got your Rest Plus example working. But now I'm trying to add in a statement to adjust the volume:
[

[2021-09-14 12:27] williamw commented on #59
Same exact issue here. I have a Rest Mini and Rest+. After starting HomeBridge, 12-24 hours later the devices stop responding to commands from this plugin. Nothing in the logs. Simple reboot of HomeBridge resolves the problem for another 12-24 hours.

[2021-09-14 21:34] goobags commented on #59
I monitored Homebridge over a day or so and it again lost connection to the Rest+. I have since uninstalled this plugin and rely on the Hatch app

[2021-09-15 02:46] dgreif commented on #59
Hey all, sorry for not getting around to this sooner.  I've been noticing this same issue over the past week or two and have been watching my logs closely to see if there are any errors I can go off of.  Ultimately, I think I just need to refresh the connection with AWS every 8 hours or so to keep it fresh, and not count on an auth error to tell me to reconnect.  I don't have time to get it fixed

[2021-09-18 22:35] #61 closed

[2021-09-18 22:37] dgreif commented on #59
Just released v`3.2.4` which will automatically reconnect every 8 hours.  I'll be keeping a close eye on it over the next few days, but hopefully this resolves the issue!

[2021-09-20 00:21] Twileyskunk commented on #51
I am having this same issue. Running Homebridge on Windows 10, confirmed I have BTLE, followed instructions exactly. But HB doesn't seem to add it as an accessory? I can't even see it to control it in HB much less HK. What am I missing?

[2021-09-20 02:05] dgreif commented on #51
@Twileyskunk do you have any logs to show what's happening?

[2021-09-20 02:43] Twileyskunk commented on #51
Sure. Looks like there is an error connecting to the API, and it says "address family not supported by protocol"?

[2021-09-20 13:17] dgreif commented on #51
Would you mind posting the full error from the logs?

[2021-09-20 17:32] Twileyskunk commented on #51
HatchBabyRest] Error connecting to API
[9/19/2021, 8:17:02 PM] [HatchBabyRest] Error: EAFNOSUPPORT, Address family not supported by protocol
    at new Hci (/homebridge/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware/noble/lib/hci-socket/hci.js:80:18)
    at new NobleBindings (/homebridge/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware/noble/lib/hci-socket/bindi

[2021-09-21 03:07] simplytoast1 commented on #59
Seems to be working great here @dgreif !   Proud to be a supporter!

[2021-09-23 04:48] dgreif commented on #51
What hardware/OS are you using to run homebridge?  Does it have a Bluetooth LE adapter?  Could you post your config (without your Hatch username/password)?

[2021-09-23 17:38] Twileyskunk commented on #51
Running HB on a Dell machine with Windows 10. Yes it does have BT LE adapter plugged in. My config as follows (with UN/PW removed):

email": " XXXXXX@gmail.com",
            "password": "XXXXX",
            "restLights": [
                {
                    "name": "Nursery",
                    "macAddress": "CF:49:A4:64:BB:2B"
                }
            ],
            "platform": "HatchBab

[2021-09-27 23:03] dgreif commented on #51
I don't see anything out of the ordinary. My guess is the `noble` package simply doesn't like something with your computer/bluetooth hardware.  Unfortunately it's not something I can debug 😞.  I think most users use a raspberry pi, so consider setting one of those up as your homebridge server

[2021-10-06 14:34] hsarji opened #62 "Cannot install plugin"
I'm using an old Mac Mini as a server for Homebridge. The OS is Yosemite. It's working fine with Homebridge and other plugins, but I keep getting an error with the Hatch Baby Rest plugin. Here is an excerpt from the error log:

[code]

I tried a manual install with `npm i -g homebridge-hatch-baby-rest` in terminal and am running into the same problems.

[2021-10-07 04:22] dgreif commented on #62
Please see [the noble installation instructions](https://www.npmjs.com/package/@abandonware/noble#installation) and follow the steps for your platform.  Let me know if you still run into issues after that

[2021-10-08 16:11] hsarji commented on #62
I was able to install the plugin. Noble requires Xcode. I downloaded Xcode and reinstalled the plugin. But the plugin isn't working. I see it in the Home app, but turning it on or adjusting the volume does nothing. This seems to be a duplicate of [another open issue](https://github.com/dgreif/homebridge-hatch-baby-rest/issues/59), so I will close this issue with this comment. Thank you for helping

[2021-11-03 18:32] rml1111 opened #63 "Controlling Volume of Rest+ when Linked to Home Assistant via Homebridge"
I'm using this Homebridge in conjunction with Home Assistant to control my two Hatch Rest+ sound machines. Everything all of the devices and entities import into Home Assistant with the exception of volume control. Are there any plans to update to include volume control that would be compatible with Home Assistant? I have tried homebridge-hatch-baby-rest-volume plugin (a fork from this repository)

[2021-11-27 22:06] dgreif commented on #62
@hsarji I don't think this is the same as #59.  Could you post more logs now that you have it installed?

[2021-11-27 22:06] #59 closed

[2021-11-27 22:08] dgreif commented on #63
@rml1111 I hadn't planned to add volume controls since the native Home app doesn't support volume adjustment for speakers.  I'll keep it in mind and update here if I add it down the road.

[2021-12-20 19:56] josereyes opened #65 "Doesn't appear to work with second generation Hatch Baby Rest"
I had it working well with the first gen via bluetooth, but now that I've upgraded to the [second gen Hatch Rest](https://hatchbaby.zendesk.com/hc/en-us/categories/1500000362101-Hatch-Rest-2nd-Gen-), this config seems to have stopped working.

[2021-12-21 02:55] dgreif commented on #65
Interesting, haven't heard of the 2nd Gen Rest yet. To clarify, does this model have WiFi, or is it Bluetooth only? I don't see it in their store, where did you find it to buy it?

[2021-12-21 03:13] josereyes commented on #65
This model uses wifi, it's actually quite similar to Rest+, maybe even just a rebranded Rest+?

You're right that it's not browsable from the home page but it is on the website: https://www.hatch.co/restsecondgen

I got an email with that link and it shipped and arrived like overnight basically.

[2021-12-22 22:28] dgreif commented on #65
Thanks for the link, looks like it definitely has wifi and is similar to the Rest+ but without the rechargeable battery.  Sounds like a great light!  I looked at the api and it looks like there are a few new device types that I could add support for, but what would be most helpful is if you could check your homebridge logs for some information.  If you restart homebridge, you should get a log from

[2021-12-26 04:47] bsteinbach112 commented on #65
I just came here to say the same thing. I’ve got a Rest+ and now a RestV2.  Only the Rest+ is shown in Homebridge. I checked the logs and so not see anything about an unsupported light. Are you referring to the running logs in Homebridge or a separate log file? Here’s what I see in terms of the Rest plug-in…
![C9F7CB55-A3EF-4227-8FAD-3D0404E66F81](https://user-images.githubusercontent.com/33059974

[2021-12-26 21:50] dgreif commented on #65
Operating under the assumption that the Rest 2nd gen is almost identical to the Rest+, it should work with v`3.3.0-beta.0`.  I didn't remove the Battery service, but I can clean that up I get confirmation that everything else (light/sound/etc) works as expected.  Let me know when either of you get a chance to test out the beta 😄

[2021-12-26 22:42] bsteinbach112 commented on #65
Thanks for the quick turnaround. Good news is that it did recognize the RestV2, but it got an error due to the battery and kept throwing errors until Homebridge rebooted and the same thing is happening. Here’s part of the error:

[26/12/2021, 16:39:30] [HatchBabyRest] Configuring 0 Rest, 1 Rest+, 0 Rest Mini, 1 Rest 2nd Gens, and 0 Restore Devices
[26/12/2021, 16:39:32] [homebridge-hatch-baby-rest

[2021-12-27 15:06] dgreif commented on #65
Thanks for trying it out @bsteinbach112!  Based on the errors, I think the data for this light is a different format than the Rest+.  I just released `3.3.0-beta.1` which will log the state for the new rest light.  After you update/reboot, look for `RIOT: ...` in your logs and paste that whole line here.  You can check through it for anything that looks like sensitive information, but based on the

[2021-12-27 18:57] bsteinbach112 commented on #65
Here's what it says:
`RIOT: {"env":"prod","alarmsDisabled":false,"nightlightOn":false,"nightlightIntensity":32780,"toddlerLockOn":false,"snoozeDuration":540,"current":{"srId":3724708,"playing":"routine","step":1,"color":{"i":16383,"id":235,"r":61166,"g":43690,"b":0,"w":21845,"duration":0,"until":"indefinite"},"sound":{"v":26297,"id":10137,"mute":false,"url":"https://images.hatchbaby.com/content/so

[2021-12-29 17:58] shadowa4 commented on #43
Hi,

Not sure if this is related to the standing bug, but I am seeing similar behavior. I have homebridge running on a RPI4 controlling a number of devices, but of course, also a hatch rest product, specifically the original bluetooth hatch rest.

Earlier this week I updated the plugin, the homebridge instance, and raspian as a whole. After these updates I can no longer control the device from hom

[2021-12-29 18:12] dgreif commented on #43
@shadowa4 my guess is the raspian update modified some of the bluetooth permissions/settings on your rpi.  The plugin uses the `noble` npm module to interact with bluetooth, and there are [detailed installation instructions](https://www.npmjs.com/package/@abandonware/noble#installation) for getting it working on each platform.  If none of those steps fix the issue for you, I don't have any good su

[2021-12-29 22:16] shadowa4 commented on #43
@dgreif Thanks for the info. I've followed those guides to no avail. So, I'm looking for a Wi-Fi hatch as we speak. I assume that one just gets discovered with your email/password fields?

[2021-12-30 15:38] Homekitdude commented on #65
Thinking of ordering one of these — can anyone confirm if the 2nd gen rest works with this?

[2021-12-30 16:17] dgreif commented on #65
@Homekitdude it should work eventually, but I haven't gotten around to adding support yet.  The details posted by @bsteinbach112 should give me a good start, I just need to find some time to do it 😄

[2021-12-30 16:18] Homekitdude commented on #65
Right on! I ordered the rest mini instead — that one works right? :)

[2021-12-30 18:51] dgreif commented on #65
Yep, Rest Mini is already supported

[2022-01-02 21:11] dgreif commented on #65
Sorry for the delay on getting this added.  The info provided by @bsteinbach112 was helpful to gauge the general format for the new light, but it looks like it is fairly complicated.  It's some fun combination between the Rest Mini and the Restore light.  With this in mind, I decided to order one of the lights so that I can do further data discovery without bothering any of you for extensive testi

[2022-01-03 01:20] bsteinbach112 commented on #65
Thanks Dusty. That's too bad about the Rest v2. I appreciate your hard work on the plugin. I kind of wish we went with the Rest+ for an additional $10 for Christmas. I figured the Rest v2 would be better, but I'm finding it to be more complicated to use (in the app) and less functional with the features I was hoping to set up....mainly turning on different scenes using a Lutron Caseta Pico remote

[2022-01-04 04:13] simplytoast1 opened #66 "Depricated Call"
I updated my HomeBridge Node to v16.13.1 and filled the HB Node upgrade guide but it could not recompile the Rest plugin and generates the following error on load.

[1/3/2022, 3:48:24 PM] [homebridge-hatch-baby-rest] Configuring 0 Rest, 1 Rest+, 0 Rest Mini, and 1 Restore Devices
(node:81434) [node-fetch#buffer] DeprecationWarning: Please use 'response.arrayBuffer()' instead of 'response.buffer()'

[2022-01-04 04:59] dgreif commented on #66
Do you have any logs to show the error? Maybe try removing and re adding the plugin

[2022-01-04 14:02] JonLaliberte commented on #7
@schmittx Any luck with the Python port of this? I didn’t see a repo for it in your GitHub profile.

[2022-01-04 22:27] schmittx commented on #7
@JonLaliberte No, I looked into the AWS MQTT a bit but it was a steep learning curve for me and I didn't have that much time to pursue further.

[2022-01-04 23:34] simplytoast1 commented on #66
I reinstalled the plugin and it worked.  What I think happened was there was an issue with the Node upgrade so reinstalling mode and the plugin worked!  Closing the issue.

[2022-01-04 23:34] #66 closed

[2022-01-05 22:07] kenwdelong commented on #65
@dgreif LMK if you need any clarifications

[2022-01-05 22:59] dgreif commented on #65
I appreciate the offer @kenwdelong! Do you happen to have any docs or other resources you could share? I just got my 2nd gen rest yesterday so I can figure out the new schema on my end, but having something a little more official would probably lead to better results 😄

[2022-01-21 20:15] shaintoth opened #67 "MaxListenersExceededwarning: Possible EventEmitter memory leak det ected. 11 connect listeners added to [Peripheral]."
After restarting homebridge, the first changes to the Hatch will take effect and connect successfully, but all subsequent requests are met with the titular error message.

Have attempted resetting the Rest but received the same issue.
![B7DC910E-8E54-44DF-A56F-C503C992C152](https://user-images.githubusercontent.com/34776408/150594129-777fe974-d034-4fe0-8af3-2af09bad23c7.png)

[2022-01-21 20:24] shaintoth commented on #67
![2F6EEC53-2EAC-43C7-A652-4858BBE7670D](https://user-images.githubusercontent.com/34776408/150595331-d6cf4fbf-6f0d-4104-8e4e-3560c89e925f.png)

[2022-01-22 14:48] Homekitdude commented on #51
Mine also doesn’t work. Shows up in HomeKit, but nothing works at all.

[2022-01-29 06:07] apexad opened #68 "idea: Audio selection as TV"
Wonder if you could look into doing this?  This way you could actually provide named inputs for the sounds.

[2022-01-30 02:24] #68 closed

[2022-02-04 22:00] kenwdelong commented on #65
We don't really have any docs suitable for public consumption, unfortunately, but I can answer questions if you have any!

[2022-03-09 16:27] jrod07 opened #70 "Failed Plugin Install"
I've recently stood up a Synology NAS with Homebridge installed to assist me to explose devices that are not natively supported by HomeKit.

I've successfully installed other plugins, however, when it comes to this plugin (homebridge-hatch-baby-rest), I get the following error message:

****************************************************************************************************************

[2022-03-09 23:30] dgreif commented on #70
Please see the install docs at https://www.npmjs.com/package/@abandonware/noble#installation
You can also google "node gyp Synology" and see if there are any recommendations on how to get it to install.  Node gyp is a bit of a pain, and getting it working is unique to each environment so unfortunately it's not something I can fix at the plugin level.

[2022-03-13 04:31] truncj commented on #65
@dgreif first off thanks for maintaining this plug-in! I now realized that I have a Rest v2, so I installed the 3.3.0-beta.2 through homebridge. Appears to not be picking up the device

Hatch related logs below:
`[3/12/2022, 11:27:43 PM] Loaded plugin: homebridge-hatch-baby-rest@3.3.0-beta.2
[3/12/2022, 11:27:43 PM] Registering platform 'homebridge-hatch-baby-rest.HatchBabyRest'
[3/12/2022, 11:27:

[2022-03-22 02:35] town3r opened #71 "Hide "fan" accessory"
Would be nice if we could hide specific accessories like the fan.

[2022-03-22 15:10] dgreif commented on #71
Hey @town3r, thanks for the suggestion.  I've added similar configuration options in other plugins and have found that it makes maintenance harder, and users continue to request more complex configuration over time.  I'd like to keep this plugin simple, so I don't plan to add this configuration option.

[2022-03-22 15:10] #71 closed

[2022-03-22 16:38] town3r commented on #71
What about an input toggle to make the tracks easier to select?

Not sure if that's something that would be possible.

Looks like someone else suggested it [here](https://github.com/dgreif/homebridge-hatch-baby-rest/issues/68)

Might be able to borrow some ideas from this plugin. :)

https://github.com/tavicu/homebridge-samsung-tizen/wiki/Inputs

[2022-04-12 15:29] town3r opened #73 "Issues with Master On/Off Switch"
Should the Master On/Off Switch successfully turn off the device when toggled to Off if both the Light & Fan accessories were enabled by toggling it on?

Is this a known issue with the Bluetooth only Rest?

![image](https://user-images.githubusercontent.com/12396203/162998548-85721580-e6d7-4b26-a839-1a18bff9b44b.jpeg)

[2022-04-12 15:32] dgreif commented on #73
The device should turn off both sound and light in this scenario, though they may still individually show as "on" in the Home app

[2022-05-08 22:08] #70 closed

[2022-05-08 22:10] dgreif commented on #65
Sorry for the long delay on this feature, but Rest 2nd Gen should be working with `3.3.0` 🚀.  Much like the Restore, the data types from Hatch don't line up super well with what is available in HomeKit.  When you add a Rest 2nd Gen, you will simply see a switch.  When turned on, it will turn on your _first favorite_.  Turning it off will turn off the light/sound.  Hopefully this is enough for most

[2022-05-08 22:10] #65 closed

[2022-05-08 22:11] #73 closed

[2022-05-10 15:51] kasper79 opened #74 "Plugin crashing and restarting loop"
Updated to new release today (3.3.0) and getting this now:
[5/10/2022, 10:50:00 AM] [HatchBabyRest] Configuring 0 Rest, 1 Rest+, 0 Rest Mini, 0 Rest 2nd Gens, and 1 Restore Devices
[5/10/2022, 10:50:01 AM] TypeError: Cannot read properties of undefined (reading 'playing')
    at /usr/lib/node_modules/homebridge-hatch-baby-rest/lib/restore.js:10:101
    at /usr/lib/node_modules/homebridge-hatch-bab

[2022-05-15 16:02] kasper79 commented on #74
Disabling plugin works and HB starts fine.  It must be the Restore rev2?  Not sure, if I roll back it works fine...

[2022-05-19 04:09] dgreif commented on #74
I'm guessing it's the restore v2.  I didn't realize they had a new version of that out already 😅.  It must have a different data structure, which I won't be able to support immediately.  I'll try to get an update out soon that at least blocks that device type and prevents the restart loop

[2022-05-28 17:09] dgreif commented on #74
@kasper79 I released an update that should prevent the plugin from crashing with the restore v2.  It's not actually supported by the plugin yet, but you should at least be able to use the latest version now

[2022-06-22 00:06] adepssimius opened #75 "Any plans to refactor the web API or the bluetooth API out into standalone packages?"
I'd love to use these with home assistant, but I don't use homekit at all. I'd be happy to create repos with just these components and hand the ownership over to you with a PR here to add them as dependencies and use them, I just don't want to redo things that are already in the works.

Also did you happen to notice if there was a local TCP API? I'd start port scanning but my kid is sleeping at th

[2022-06-28 15:52] bsteinbach112 opened #77 "Hide Rest Accessories"
Would it be possible to add a configuration setting to hide certain "devices" within HomeKit? At this point I only want to be able to control whether a Rest+ is on or off. Would it be possible to add a setting to hide the volume (fan) and light (color/brightness) tiles?

[2022-06-29 15:06] olchickenbeard commented on #43
I'm having the same issue as @shadowa4, but with wifi models. I have two, all four tiles for each one show up in Homebridge, they appear to be toggling and working in Homebridge with no error logs, but they aren't actually responding to anything.

[2022-07-05 12:32] lionsgraphics opened #78 "The fan doesn't seem to correspond to the audio track properly"
I have Rest+
I'm not sure which logs to pull here but seems like all the tracks are between 0-12%. Anytime I go over 12% it just settles at rockabye.
The bigger issue is that I can't figure out how to fix the fan controller to change the tracks. I can do rockabye or make it silent. Not much in between. I used a custom card and set 5% and 11% buttons to low and medium. Low just plays rockabye. So s

[2022-07-06 17:03] #78 closed

[2022-07-13 19:23] left-aligned opened #79 "Duplicate Accessories in Homebridge"
Thank you for this awesome plugin. I've set it up in my Homebridge, but I seem to get duplicate accessories no matter my configuration. When using the setup I name my Rest+ "Night Light". In the accessories section I see controls for "Night Light" and for "My Rest+". Is this supposed to happen?

These accessories show up in my Homekit. Same thing happens whether I use a child bridge or not.

![Scr

[2022-07-13 22:27] dgreif commented on #79
No, it shouldn't duplicate them.  Did it only do this after you renamed the light?

[2022-07-18 22:27] left-aligned commented on #79
I see the issue now. When following the setup I was entering my email/password and also filling out the "Light Name" and "MAC Address" section. I have a Rest+, didn't realize I didn't need to fill out that section either.

[2022-07-18 22:27] #79 closed

[2022-07-28 03:56] simplytoast1 commented on #59
Hate to open this issue again, but it seems the token issue has been reoccurring for me.  Same behavior.  Simple restart of the plugin fixes it.

[2022-07-31 14:05] #74 closed

[2022-07-31 14:08] dgreif commented on #75
Hey @adepssimius, sorry for the delayed response.  I haven't heard a large need to refactor these APIs for use outside homekit, but it's possible.  I do something similar in https://github.com/dgreif/ring.  It is a fair amount of extra setup though, so I'd prefer to avoid it for now.  If I get a few more comments on here asking for it I'll consider it.  For now you are welcome to fork what I have

[2022-07-31 14:08] #75 closed

[2022-07-31 14:39] dgreif commented on #77
I'd prefer to keep the configuration for the plugin as simple as possible.  I went the route of adding a lot of "hide" options in `homebridge-ring` and I end up getting requests to add a new hide option for every new feature I add.

[2022-07-31 14:39] #77 closed

[2022-08-15 12:32] dancavallaro opened #81 "Doesn't seem to connect properly when started via hb-service"
I've got this working now with my Hatch Rest and integrated with HomeKit (this is super awesome, thanks for doing this!) but I've noticed something odd where this plugin doesn't seem to work properly when I start Homebridge via `sudo hb-service start`, but does work when I start it from the command-line by running `homebridge`. More specifically: when I start HB by running `homebridge` and watch t

[2022-08-22 03:12] sonorone commented on #81
I am also having this issue on Big Sur. It seems like the hb-service does not have access to bluetooth. When I run sudo hb-service in terminal it does not prompt for Bluetooth permissions, it does however ask for permissions when running homebridge command.
I tried granting access to /Users/<user>/.npm/bin/hb-service via System Preferences > Security & Privacy > Privacy > Bluetooth however that is

[2022-08-22 03:50] dgreif commented on #81
Sorry y'all are hitting permissions issue. Unfortunately this is very specific to the environment in which you are running homebridge. https://github.com/abandonware/noble#installation is the best set of docs that I know of for getting set up properly, but I'm not sure it goes into much detail on user permissions. Please post back here if you figure it out!

[2022-08-22 03:53] sonorone commented on #81
I was able to find a workaround by granting /usr/local/bin/node access to permissions

<img width="665" alt="image" src="https://user-images.githubusercontent.com/25423794/185836107-d3d6f8bf-da28-44b5-a39d-2de21c6449e0.png">

I can see now it looks good in the logs:

"
[8/21/2022, 11:49:59 PM] [HatchBabyRest] Scanning for Hatch Rest
[8/21/2022, 11:49:59 PM] [HatchBabyRest] Found device Hatch Rest

[2022-08-28 14:25] #63 closed

[2022-08-28 14:36] dgreif commented on #81
@dancavallaro I haven't heard back from you on whether you got this working. I'm guessing the steps above should work for you as well

[2022-08-28 14:36] #81 closed

[2022-08-28 14:39] dgreif commented on #51
I'm really not doing much maintenance on the bluetooth side of this plugin any longer. For the best experience, I recommend buying one of the newer wifi lights from Hatch. The bluetooth is just too complicated given the hardware requirements, and the fact that bluetooth warries widely between different devices (rpi vs mac vs ...). PRs welcome if anyone finds improvements.

[2022-08-28 14:39] #51 closed

[2022-08-28 14:40] dgreif commented on #43
I'm really not doing much maintenance on the bluetooth side of this plugin any longer. For the best experience, I recommend buying one of the newer wifi lights from Hatch. The bluetooth is just too complicated given the hardware requirements, and the fact that bluetooth warries widely between different devices (rpi vs mac vs ...). PRs welcome if anyone finds improvements.

[2022-08-28 14:40] #43 closed

[2022-08-28 14:44] #67 closed

[2022-08-28 14:44] dgreif commented on #67
I'm really not doing much maintenance on the bluetooth side of this plugin any longer. For the best experience, I recommend buying one of the newer wifi lights from Hatch. The bluetooth is just too complicated given the hardware requirements, and the fact that bluetooth warries widely between different devices (rpi vs mac vs ...). PRs welcome if anyone finds improvements.

[2022-08-28 16:16] shaintoth commented on #67
Thanks for the response, maybe when I have a little bit of time I’ll try putting in a PR!I do miss Siri control of it!On Aug 28, 2022, at 10:44 AM, Dusty Greif ***@***.***> wrote:﻿
I'm really not doing much maintenance on the bluetooth side of this plugin any longer. For the best experience, I recommend buying one of the newer wifi lights from Hatch. The bluetooth is just too complicated given the

[2022-08-30 10:13] dancavallaro commented on #81
Hey @dgreif, sorry for the silence, I just got back from vacation. @sonorone's workaround did indeed work for me. I first tried giving Bluetooth permissions just to `homebridge` in my Node bin directory and that didn't work, but when I granted bluetooth permissions to `node` that did finally work.

FWIW, I did follow https://github.com/abandonware/noble#installation and it does mention giving Blue

[2022-09-02 15:00] danshaw opened #83 "Unsupported Product Found: riotPlus"
I just picked up a Hatch Rest+ 2nd Gen. After setting it up and installing the plugin, I get the following error:

`[9/2/2022, 9:56:47 AM] [HatchBabyRest] Unsupported Product Found: riotPlus
[9/2/2022, 9:56:47 AM] [HatchBabyRest] Configuring 0 Rest, 0 Rest+, 0 Rest Mini, 0 Rest 2nd Gen, and 0 Restore`

Any idea why it thinks it's unsupported?

Edit: I did a little digging, and it looks like that c

[2022-09-03 14:11] dgreif commented on #83
Looks like this is a brand new device! I don't even see it on their website yet. I'm going to make an assumption that the data is a similar shape to the `riot`, but that may be totally false. Give v3.4.0-beta.0 and let me know if it works 🤞

[2022-09-05 13:58] danshaw commented on #83
Thanks @dgreif, that did the trick. Iv'e read through a lot of the discussions regarding what is possible and what is not and it sounds like there are some limitations you are hitting with the Rest+ in regards to color and sound, but wanted to thank you for putting the time in to make this. If you do ever find the time or the access to add the ability to change colors/volume, that would benefit me

[2022-09-05 13:58] #83 closed

[2022-09-05 22:53] 6MH89F3j opened #84 "Failed install on synology DSM 7"
Hello,

I am unable to get this plugin to install on my Synology homebridge setup. I have the ring plugin running well (thank you btw!).

Seems like the same exact problem as #70.

I read your response to follow instructions at https://www.npmjs.com/package/@abandonware/noble#installation or to google "node gyp Synology", and after reading through those, I am not sure what to do next.

I am runnin

[2022-09-07 01:50] mdjhnson opened #85 "Failed Install"
USER: mj
DIR: /usr/local
CMD: npm install -g homebridge-hatch-baby-rest@3.3.1

[##################] - reify:rxjs: timing reifyNode:node_modules/homebridge-hatch-baby

No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'./homebridge-hatch-baby

No receipt for 'com.apple.pkg.DeveloperToolsCLILeo' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLI' found at '/'.

Traceback (mos

[2022-09-07 01:54] mdjhnson commented on #85
[2022-09-07T01_34_57_148Z-debug-0.log](https://github.com/dgreif/homebridge-hatch-baby-rest/files/9502067/2022-09-07T01_34_57_148Z-debug-0.log)

[2022-09-07 01:56] mdjhnson commented on #85
[2022-09-07T01_34_57_148Z-debug-0.log](https://github.com/dgreif/homebridge-hatch-baby-rest/files/9502078/2022-09-07T01_34_57_148Z-debug-0.log)

[2022-09-07 02:53] mdjhnson commented on #85
Figured it out!

Had to download XCode and then install @abondonware/noble.

[2022-09-07 02:53] #85 closed

[2022-09-10 20:34] dgreif commented on #83
@danshaw thanks for the input! Glad to hear the new light is working. I've released 3.4.0 to officially support it

[2022-09-13 01:29] jtermi03 opened #87 "Difficulty installing on Docker"
Hi, I'm installing your plugin on a fresh Docker image of Homebridge but running into an issue. After installing the plugin, entering my info in the wizard, and restarting homebridge, Homebridge fails with this error:

[code]

I've validated I'm using the correct device information, I'm not using a bluetooth Hatch, any idea of what I can try?

[2022-09-26 23:56] cmrenus commented on #63
Is there any specific reason that the speaker control doesnt port over from homebridge to HA? I dont see why it wouldnt, since it is there in homebridge

[2022-09-27 22:08] dgreif commented on #63
I'm not sure @cmrenus, I haven't worked with the HA integration at all. Sorry!

[2022-10-02 15:13] dgreif commented on #87
https://www.npmjs.com/package/@abandonware/noble#linux is the best set of instructions available for getting this to install properly on different operating systems

[2022-10-02 15:13] #87 closed

[2022-10-02 15:14] dgreif commented on #84
I don't have any useful tips based on your setup. The instructions in the abandonware noble repo are the best that I can offer, and it sounds like you are following those already.

[2022-10-02 15:14] #84 closed

[2022-10-05 00:38] evbarnett5 opened #88 "RestoreIot unsupported product"
Just bought  a new hatch restore running firmware (9.1.361) . Installed plugin via home bridge UI and is currently logging that restoreIot is an unknown product.
<img width="1085" alt="PastedGraphic-1" src="https://user-images.githubusercontent.com/115050950/193955092-5e875008-bf7b-4b13-b8fb-5595a6354e5f.png">

[2022-10-08 18:55] lukehoersten opened #89 "Rest Gen 2 doesn't show color settings"
Unable to change color - accessory only makes light+sound on/off switch and dimmer available.

- Version: Rest Gen 2
- Homebridge Version: 1.5.0
- homebridge-hatch-baby-rest v3.4.0
- Firmware Revision | 7.1.360

[2022-10-14 20:07] AprilMay88 opened #90 "Restore unsupported"
I'm also seeing that the Restore is unsupported.

[2022-10-15 15:12] dgreif commented on #90
I think this is a duplicate of #88

[2022-10-15 15:12] #90 closed

[2022-10-15 15:13] dgreif commented on #89
Some of the newer devices have a much more complicated API, mainly based on routines and presets. They don't have a simple way of setting color/sound, which is why the plugin only exposes the on/off switch.

[2022-10-15 15:13] #89 closed

[2022-10-15 18:47] millicandonowrong opened #91 "Error with Install"
Hello!

I am having difficulty installing the hatch plugin. I get the error listed below:
Currently Using a 2015 Mac book pro / Mac OS Monterey

I did some initial research on here and saw some people needed to install Xcode. Is that needed for this plugin if using a Mac?
Also came across a post on stack overflow with the same error, linking to in case that's helpful.
[https://stackoverflow.com/qu

[2022-10-15 20:32] dgreif commented on #91
https://github.com/abandonware/noble#os-x has the prerequisite steps you should follow for a Mac install

[2022-10-18 03:04] bay143 opened #92 "Error connecting to API"
Trying to connect Hatch Rest getting below error-using MAC address

[10/17/2022, 9:52:51 PM] [homebridge-hatch-baby-rest] Error connecting to API
[10/17/2022, 9:52:51 PM] [homebridge-hatch-baby-rest] Error: EAFNOSUPPORT, Address family not supported by protocol
    at new Hci (/homebridge/node_modules/homebridge-hatch-baby-rest/node_modules/@abandonware/noble/lib/hci-socket/hci.js:80:18)
    at ne

[2022-10-18 03:15] #92 closed

[2022-10-22 22:45] eoddc5 opened #93 "Added to homekit but buttons do nothing (rest+ 2nd gen)"
Hi. Just got a rest+ 2nd gen
does this matter? Is this supported? Or only first gen rest?

I added the device. It shows three buttons (fan, light, switch) but none do any action. They show they’re adjusting in home, but they don’t do anything for the rest device itself

Just wanted to check with you if you have any thoughts

![1ABE9D56-1D4D-43F0-B6CE-9F9AEBAB3733](https://user-images.githubusercon

[2022-10-22 22:54] eoddc5 commented on #93
So when I originally configured this I added my device name and mac, thinking I needed it

since I didn’t, I removed that info, saved, and reboot

now the switch button works to turn on the f1 noise and light combo but the other two icons disappeared

[2022-10-23 14:44] dgreif commented on #93
With the Rest+ 2nd gen, you only get an on/off switch because the settings for the light do not play well with what is available in HomeKit. Sounds like it's working as expected now

[2022-10-23 14:44] #93 closed

[2022-10-23 14:51] #91 closed

[2022-10-30 21:18] evbarnett5 commented on #88
TLDR: Modified scripts. Hatch status works in homekit when turned on from hatch app. Could not control hatch from homekit. Device is currently stuck in a connection loop and awaiting support from hatch.

Wanted to provide an update on this. Modified some of the scripts to handle the newly named restore device (restoreIot). Got to the point where if I turned on the device from the hatch app the hom

[2022-10-30 21:18] #88 closed

[2022-11-05 20:23] chrisgruggen opened #95 "Issue installing on Synology DSM7 package, continues to fail"
Tried installing via homebridge ui and terminal and both times the install failed.

I was able to get it to work if I installed homebridge in docker, but then I was having other issues with Homebridge connecting to my HomeKit, so I reverted back to the Synology package.

[code]

[2022-11-21 05:31] dgreif commented on #95
I've finally decided to move forward with splitting the bluetooth lights into their own `homebridge-hatch-rest-bluetooth` plugin. You should be to install `homebridge-hatch-baby-rest` version `4.0.0` without jumping through any bluetooth hoops now, as long as wifi sound machines are all you need access to. Please let me know if that works for you!

[2022-11-25 22:30] 6MH89F3j commented on #95
FYI, I was having this same exact issue. I installed 4.0.0 of homebridge-hatch-baby-rest and it's working perfectly for me on DSM7! Thank you so much!!

[2022-11-25 22:31] 6MH89F3j commented on #84
FYI, I saw that you split out the plugins to remove the need for bluetooth support. The recent v4.0.0 of homebridge-hatch-baby-rest is now working for me on DSM7! Thank you so much!!

[2022-11-26 15:04] #95 closed